@font-face {
    font-family: 'Determination Mono';
    /* src: url('../fonts/DeterminationMono.ttf') format('truetype'), */
        /* url('../fonts/DeterminationMono.woff2') format('woff2'); */

    src: url('../fonts/DeterminationMonoPolish.otf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@keyframes popIn {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

:root {
    --lightblue-bg: #ebefff;
    --lightblue-bg-border: rgba(141, 162, 255, 0.2);
    --blue-bg-border: rgba(100, 129, 255, 0.2);

    --zsp-blue: rgba(56, 92, 255, 0.9);
    --zsp-blue-dark: #617eff;

    --blue: #1434B4;
    --darkblue: #112b95;

    --coolviolet: rgb(194, 205, 255);
    --coolviolet-dark: rgb(141, 162, 255);
    --blandviolet: rgb(193, 199, 224);
    --blandviolet-dark: rgb(160, 166, 192);
    --soft-violet: #9f96b3;
    --soft-violet-dark: #7e758f;

    --brown: #CAB282;
    --darkbrown: #817453;
    --darkbrown-transparent: rgba(129, 116, 83, 0.25);
    --green: rgb(87, 172, 39);
    --lightgreen: rgb(153, 243, 101);

    --zsp-font: 'Raleway', 'sans-serif';
    --maniek-font: 'Determination Mono', monospace;
}

.copyable {
    user-select: all;
    pointer-events: all;
    color: orange;
}

.hidden {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    /* height: 200vh; */
    font-family: var(--zsp-font);
    height: 100vh;
    background-color: rgb(230,230,230);
    transition: background-color 0.25s;
}

.enter-fullscreen {
    position: fixed;
    display: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 500;
}

.enter-fullscreen .background {
    position: absolute;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: rgba(0,0,0,0.5);

    z-index: 500;
}

.enter-fullscreen  button {
    /* display: none; */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.75rem;
    font-weight: bolder;

    background-color: #EBEEFF;
    border: 0.5rem solid #474d72;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-radius: 5rem;

    width: 100%;
    text-align: center;

    text-wrap: nowrap;

    z-index: 501;
}

.enter-fullscreen  button .big {
    font-size: 3rem;
    font-weight: 900;
}
.enter-fullscreen  button .blue {
    color: rgb(56, 92, 255);
}

/* Fixed position div at the top left */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(360deg);
    }
    60% {
        transform: rotate(0deg);
    }
}


main {
    position: relative;
    background-color: white;
    margin: 2rem;
    border-radius: 2rem;
    height: calc(100vh - 4rem);

    z-index: 1;
}

.button {
    position: relative;

    height: 4em;
    width: 4em;
    margin: 0.5em;
    border-radius: 100%;

    background-color: var(--lightblue-bg);
    border: 0.2em solid rgba(56, 92, 255, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.1s;
}

.button:hover {
    border: 0.5em solid rgba(56,92,255,0.6);
}

.button img {
    z-index: 2;
    width: 100%;
    height: 100%
}

@keyframes spinDecoration {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(20deg) scale(1.1);
    }
    100% {
        transform: rotate(10deg);
    }
}

.button .decoration {
    position: absolute;
    top: -30%;
    right: -30%;
    z-index: 3;

    width: 75%;
    height: 75%;
    animation: spinDecoration 2.5s ease-in-out infinite;
}

.button .label {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 30%);

    /* white-space: nowrap; */
    margin: 0;
    /* color: var(--zsp-blue-dark); */
    color: white;
    text-shadow: 1px 1px 10px black,
                0 0 10px black;

    line-height: 1em;

    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

    font-family: var(--maniek-font);

    z-index: 100;
}

.button::after { /* Hitbox */
    position: absolute;
    content: '';

    /* background-color: red; */

    width: 100%;
    height: 100%;
    top: 50%;
}

/* Navigation container */
.navigation-container {
    position: fixed;
    /* font-size: 16px; */

    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0%);

    height: 4em;
    width: 32em;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.navigation-container .selected {
    animation: popIn 0.25s;
}
.navigation-container .selected::after {
    content: "";
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1.7em solid rgba(0,0,0,0.5);
    z-index: 10;
}


/* Screensaver */
.screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.75);

    z-index: 1000;
    transition: transform 2s;
}

@keyframes border-anim {
    0% {
        border-color: #13f00b07;
    }
    50% {
        border-color: #09ff00a9;
    }
    100% {
        border-color: #13f00b07;
    }
}

.dialog {
    font-family: 'Determination Mono', monospace;

    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: rgb(2, 17, 0);
    /* border: 1rem solid #13f00b98; */
    border: 0.75rem solid ghostwhite;
    border-radius: 1rem;

    height: 15rem;

    animation: 4s border-anim linear infinite;
}

.dialog img {
    height: 12rem;
}
.dialog p {
    width: 33rem;
    color: ghostwhite;

    font-size: 2.5rem;
    /* font-weight: 600; */
    text-align: left;
    font-family: 'Determination Mono', monospace;
    margin: 1rem;
}

.screensaver-face {
    height: 100px;
    width: auto;
    position: absolute;
}

.cornerscore {
    font-family: 'Determination Mono', monospace;
    position: absolute;
    color: white;
    font-size: 2rem;
    left: 50%;
    top: 0.5rem;
    transform: translate(-50%, 0);

    text-align: center;
}
.cornerscore span {
    font-family: 'Determination Mono', monospace;
    color: #13f00b;
    font-size: 3rem;
    font-weight: bolder;
}

/* Camera */
.camera-canvas {
    display: none;
}


.confetti {
    top: 0;
    width: 100vw;
    position: absolute;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    user-select: none;
    pointer-events: none;

    z-index: 10000;
}

.nothing {
    display: none;
}

.unselectable {
    user-select: none !important;
    pointer-events: none !important;
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -ms-user-drag: none !important;
    touch-action: none !important;
}


/* Highscores */
.highscores {
    position: absolute;
    transition: 0.5s;

    top: 50%;
    left: 50%;

    background-color: var(--lightblue-bg);
    border: 0.5rem solid var(--lightblue-bg-border);
    padding: 0.5rem;
    border-radius: 1rem;

    text-align: center;
    transform: translate(-50%, -50%) scale(1);
}

.highscores.hidden {
    display: block;
    transform: translate(-50%, -50%) scale(0);
}

.highscores p {
    font-family: var(--maniek-font);
    font-size: 2rem;
    color: white;
    margin: 0.5em;
    text-shadow: 0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black;
}
.highscoresList {
    display: flex;
    flex-direction: column;
}
.highscoresList > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 0;
}
.highscoresList > div > p {
    font-family: var(--maniek-font);
    font-size: 2rem;
    margin: 0;

    color: white;
    text-shadow: 0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black,
                0 0 3px black;
}

.highscoresList > div > p.scoreTime {
    font-size: 1.25rem;
    color: rgb(235,235,235);
    text-shadow: 0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 2px black;
}


.highscoresList > div:nth-child(even) {
    background-color: var(--lightblue-bg);
}
.highscoresList > div:nth-child(odd) {
    background-color: var(--lightblue-bg-border);
}



/* Scale down  */
@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 9px;
    }
    main {
        margin: 1rem;
        height: calc(100vh - 2rem);
    }
    .navigation-container {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }
}

/* Scale up */

@media (min-width: 2000px) {
    html {
        font-size: 24px;
    }
}