.logo-container {
  top: 2rem;
}

/* Info */
#info-container {
  position: relative;
    background-color: var(--lightblue-bg);
    min-width: 10rem;
    max-height: calc(100vh - 5rem);


    padding: 2rem;
    /* margin: 2rem; */

    border-radius: 2rem;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#info-container > .promo {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;
}

.socials img {
    height: 4rem;
    width: auto;

    background-color: var(--lightblue-bg-border);
    padding: 1rem;
    border-radius: 1rem;

    border: 0.25rem solid var(--blue-bg-border);
    transition: 0.1s;

    cursor: pointer;
}

.socials img:hover {
    transform: scale(1.1);
    border-color: var(--lightblue-bg);
}


.screenshots {
  width: auto;
  height: 25rem;
  max-height: 50vh;
  /* max-height: 20%; */

  padding: 1rem;
  padding-bottom: calc(1rem + 1rem);
  background-color: var(--lightblue-bg-border);
  border: 0.25rem solid var(--blue-bg-border);
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: none; */

  transition: transform 0.1s ease-in-out;
}

.screenshots img {
  height: 90%;
  width: auto;
  border-radius: 1rem;
}

.screenshots .description {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.5rem;
  gap: 0.5rem;
}

.screenshots .description p{
  font-family: var(--maniek-font);
  color: var(--zsp-blue);

  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 800;
  margin: 0.5rem;
}

.screenshots .description img {
  height: 3.5rem;
  border-radius: 0;
  width: auto;

  background-color: ghostwhite;
  padding: 0.25rem;
}


/* Authors */
.authors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.authors > .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.author, .authors > * {
  font-family: var(--maniek-font);
}

.authors p.big {
  font-size: 1.5rem;
}

.author {
  list-style-type: none;
  background-color: var(--lightblue-bg-border);
  padding: 4px;
  border: 2px solid var(--blue-bg-border);
  margin: 2px;
  font-size: 1.05rem;

  width: 80%;
}

.author span {
  font-family: var(--maniek-font);
}

.author .whomst {
  color: var(--zsp-blue);
}

.author:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.author:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}



.scroll-container {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0.5rem;
}

.scrolling-images {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  animation: scroll 15s linear infinite;
}

.scrolling-images img {
  width: 400px;
  height: 50px;
  object-fit: contain;
}

img[alt='Fujitsu'] {
  height: calc(50px + 1rem);
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(400px * 4));
  }
}

@keyframes popScreenshot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.popScreenshot {
  animation: popScreenshot 0.2s forwards;
  animation-iteration-count: 1;
}


@media (max-width: 500px) {
  html {
    font-size: 9px !important;
  }
  #info-container {
    flex-direction: column;
    padding: 1rem;
  }
  main {
    justify-content: start !important;
    gap: 1rem;
  }

  .socials > img {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
  }

}
