.social-preview {
    padding: 1%;
    scale: 80%;
    margin-top: 0;
}

.QR{
    width: 20%;height: auto;
    transform: scale(0.2) !important;
}

h1{
    width: 100%;
}
h2{
    margin-bottom: 0;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }


.partners {
  width: 20%;
  height: 100%;
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 3rem;

  z-index: 5;
}
.partners > * {
  max-width: 50%;
  height: auto;
}

.partners.left {
  left: 3.5rem;
}

.partners.right {
  right: 3.5rem;
}