html, body {
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    text-align: center;
}
.game-container {
    width: 600px;
    height: 600px;
    border: 2px solid blue;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    

}

.game-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
}

.game-container div img {
    width: 75%;
    height: 75%;
}