@font-face {
    font-family: digital;
    src: url(../fonts/digital.regular.ttf);
}

@font-face {
    font-family: 'Determination Mono';
    /* src: url('../fonts/DeterminationMono.ttf') format('truetype'), */
        /* url('../fonts/DeterminationMono.woff2') format('woff2'); */

    src: url('../fonts/DeterminationMonoPolish.otf');
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: "digital", sans-serif;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#data-pass {
    display: none;
}

.upper-controls {
    height: calc(100vh - 9rem);
    width: calc(100% - 1rem);
    display: flex;
}

.bottom-controls {
    height: 9rem;
    font-size: clamp(2rem, 4vw, 4rem);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid green;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    box-sizing: border-box;
}

.bottom-controls > * {
    display: flex;
    align-items: center;
    position: relative;
}

.bell-schedule {
    border: 0.2rem solid green;
    border-bottom: none;
    text-wrap: nowrap;
    width: 20%;
    font-size: clamp(1rem, 2.5vw, 3rem);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    color: rgb(98, 196, 0);
    margin: 0;
}

/* .bell-schedule > span::before {
    content: '1: ';
} */

.maniek-face {
    width: auto;
    height: 100%;
    max-height: 12rem;
}

.big {
    font-size: clamp(3rem, 5vw, 5rem);
}

.light-green {
    color: lawngreen;
}

.bell-schedule > span {
    transform: scale(0.9);
}
.bell-schedule > span.light-green {
    transform: scale(1.05);
}


video {
    display: block;
    height: auto;
    width: 80%;
    border: 0.2rem rgb(44, 44, 44) solid;
}

.break > p, .timer > p {
    margin: 1rem;
}

#maniek-text-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 160px;
    height: 9rem;
    border: 0px;
    
    transition: all 1s ease-in-out,
    width 1s,
    height 1s;
}

#maniek-text-container.active {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#maniek-text-container.active #maniek-text-container-img-container {
    margin-top: 20px;
    height: auto;
    max-height: fit-content;
}

#maniek-text-container.background {
    background-color: black;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    opacity: 0.9;
    border: 0.5rem solid green;
}

#maniek-text-container-text-container {
    position: relative;
    display: none;
    padding: 1rem;
    color: white;
    width: 80%;
    height: fit-content;
    word-wrap: break-word;
    font-family: 'Determination Mono', monospace;
    text-align: center;
    justify-content: center;
}

#maniek-text-container-img-container {
    height: auto;
    display: flex;
    justify-content: center;
}