@font-face {
    font-family: digital;
    src: url(../fonts/digital.regular.ttf);
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
    font-family: "digital";
    color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#data-pass {
    display: none;
}

.upper-controls {
    height: calc(100vh - 12rem);
    width: calc(100vw - 1rem);
    display: flex;
}

.bottom-controls {
    height: 8rem;
    font-size: 4rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 0.2rem solid green;
    padding: 0.5rem;

    width: calc(100vw - 2.4rem);
}

.bell-schedule {
    display: flex;
    justify-content: center;
    border: 0.2rem solid green;
    border-bottom: none;
    text-wrap: nowrap;
    width: 20%;
    font-size: 3rem;
}

.bell-schedule > table {
    text-align: center;
}

.maniek-face{
  width: auto;
  height: 12rem;
}


.big {
    font-size: 5rem;
}

.light-green {
    color: lawngreen;
}

video {
    display: block;
    height: auto;
    width: 80%;
    border: 0.2rem rgb(44, 44, 44) solid;
    border-right: 0.2rem rgb(44, 44, 44) solid;
}

.break>p, .timer>p {
    margin: 3rem;
}
