
/* FLAPPY MANIEK */

@keyframes moveBackground {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}


section.flappymaniek .tv {
    box-sizing: border-box;
    position: relative;
    padding: 0.75em;
    background-color: #444;
    border: 0.5em solid #333;
    border-radius: 3rem;
}
.antennas, .stands {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -100%);
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.antennas div, .stands div {
    width: 5em;
    height: 1em;
    padding: 0.25em;
    border: 0.25em solid #333;
    background-color: #444;
}
.antennas div:first-child {
    transform: rotate(45deg);
}
.antennas div:last-child {
    transform: rotate(-45deg);
}

.stands {
    transform: translate(-50%, 100%);
    width: 90%;
    bottom: 0;
    top: unset;
}
.stands div:first-child {
    transform: rotate(-75deg);
}
.stands div:last-child {
    transform: rotate(75deg);
}

section.flappymaniek .screen {
    position: relative;
    background-color: var(--lightblue-bg);
    border: 1em solid var(--lightblue-bg-border);
    border-top: 0;
    border-bottom: 0;

    width: 40vw;
    height: 60vh;
    font-size: 1.7vh;

    border-radius: 2rem;
    background-image: url('../../assets/flappy/flappymaniek-bg.png');
    background-repeat: repeat-x;
    background-size: 50% 100%;

    animation: moveBackground 4s linear infinite;

    overflow: hidden;
    z-index: 3;
}


@media (max-aspect-ratio: 5/4) and (min-width: 501px) {
    section.flappymaniek .screen {
        /* font-size: .9rem; */
        width: 58vw;
    }

    .games-side.flappymaniek {
        width: 70%;
    }
    .games-side.flappymaniek + .maniek-side {
        width: 30%;
    }
}

.screen > * {
    pointer-events: none;
    user-select: none;
    z-index: 2;
}

.screen > .titlescreen {
    z-index: 0;
}

.screen .pipes {
    z-index: 1;
}

.pipe-container {
    position: absolute;
    height: auto;
    width: 4em;

    transform: translate(0%, -50%);
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 12em; */
}

.pipe {
    width: 100%;
    height: auto;
}

.screen .bird {
    position: absolute;
    width: 4em;
    height: auto;

    left: 5em;
    transform: translate(0%, -50%);
}

.bird.falling {
    transition: transform 0.75s;

    transform: translate(0%, -50%) rotate(15deg);
}

.screen .titlescreen {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    font-family: var(--maniek-font);
    text-align: center;

    color: rgb(91, 196, 91);
    font-size: 2rem;
    margin: 0;

    user-select: none;
    pointer-events: none;
}

.screen .gameover {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    color: white;
    font-weight: bolder;
    font-size: 6rem;
    font-family: var(--maniek-font);

    white-space: nowrap;
    margin: 0;

    transition: 0.3s ease-in;

    text-shadow: 3px 3px 0 black,
                3px -3px 0 black,
                -3px 3px 0 black,
                -3px -3px 0 black;
}

.screen .highscore {
    position: absolute;
    transform: translate(-50%, 0%);
    top: calc(50% + 4rem);
    left: 50%;

    color: white;
    font-size: 6rem;
    font-family: var(--maniek-font);

    white-space: nowrap;
    margin: 0;

    text-shadow: 3px 3px 0 black,
                3px -3px 0 black,
                -3px 3px 0 black,
                -3px -3px 0 black;

    transition: 0.3s ease-in;
}

.screen .highscore.playing {
    top: 0%;
}


.screen .gameover.hidden {
    display: block;
    transform: translate(-50%, -50%) scale(0) rotate(280deg);
}

.maniek-side .highscores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.maniek-side .highscores.hidden, .maniek-side .highscores.gameHidden {
    display: block;
    transform: translate(-50%, -50%) scale(0);
}

@media screen and (orientation: portrait) {
    .screen {
        font-size: 2vw !important;
    }
}