

.games-side.hardestgame, .maniek-side.hardestgame {
    background-color: var(--soft-violet);
    border-color: var(--soft-violet-dark);
    /* border-width: 0.5rem; */
}

.games-side.hardestgame {
    border-right-width: 0;
}
.maniek-side.hardestgame {
    border-left-width: 0;
}