section.logoitarcza {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-container {
    box-sizing: border-box;
    position: relative;
    background: var(--darkbrown);

    border-radius: 3em;
    border: 0.75em solid var(--darkbrown);

    width: 25em;
    aspect-ratio: 1/1;
    z-index: 1;
}

/* Rotated shadow frame */
.game-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 5em;
    border: 0.5em solid var(--darkbrown); /* Slightly different brown tint */
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

.game-container .tiles {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75em;
    z-index: 2;
}

.tiles .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tiles div:nth-child(1) {
    border-top-left-radius: 2.25em;
}
.tiles div:nth-child(3) {
    border-top-right-radius: 2.25em;
}
.tiles div:nth-child(7) {
    border-bottom-left-radius: 2.25em;
}
.tiles div:nth-child(9) {
    border-bottom-right-radius: 2.25em;
}

.tiles .tile img {
    width: 75%;
    height: 75%;
    user-select: none;

    transition: transform 0.1s ease-in-out;
}

h1.game-name {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    width: 55%;

    /* font-size: 2rem; */
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border: 0.5rem solid var(--darkbrown);
    margin: 0px;
    padding: 1rem;

    text-align: center;
    white-space: nowrap;

    background-image: url("../../assets/tile-zsp9-2.png");
    background-size: contain;
}

.win-popup {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
    border: 0.5rem solid #112b95;
    background-color: #1434b4de;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem;
    text-align: center;

    z-index: 100;
}

.popup-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.popup-btns button {
    border-radius: 25px;
    border: 0.5rem solid grey;
    background-color: white;
}

.popup-btns img {
    width: 3rem;
}

span.blue {
    color: #2247dd;
    text-shadow: 1px 1px 1px #3559eb;
}
span.brown {
    color: #b99a5a;
    text-shadow: 1px 1px 1px #d3b271;
}
.game-name {
    font-size: 1.5rem;
}
.game-name > span {
    font-size: 1.75rem;
    font-weight: 900;
}


.legend {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    /* margin-top: 0.5em; */

    max-width: 25em;
    height: 3em;

    /* background-color: var(--darkbrown-transparent); */
    background-color: var(--brown);
    border-radius: 2em;
    border: 0.5em solid var(--darkbrown);
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0.5em;
    z-index: 2;
}

.legend div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    padding-top: 0;
    padding-bottom: 0;

    height: 100%;

    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 5rem;
}

.legend div img {
    height: 1.75rem;
    width: auto;
}
.legend div span {
    font-size: 1.25rem;
    font-weight: bolder;
}

.games-side .score {
    background-color: var(--blue);
    border: 0.25rem solid var(--darkblue);
}

.score {
    background-color: var(--brown);
    border: 0.25rem solid var(--darkbrown);
    padding: 0.75rem;
    border-radius: 10rem;

    color: ghostwhite;
    font-weight: bolder;
    
    position: absolute;
    top: 0.25rem;

    font-size: 1.5rem;
}

.score img {
    position: absolute;
    height: 100%;
    width: auto;

    top: 0;
}

.score img:nth-child(1) {
    left: 0;
    transform: translateX(-125%);
}
.score img:nth-child(3) {
    right: 0;
    transform: translateX(125%);
}


@keyframes popImg {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
.popImg {
    animation: popImg 0.25s forwards;
    animation-iteration-count: 1;
}

@media (max-width: 500px) {
    .score.player {
        top: unset;
        bottom: 0.5rem;
    }
}