/* OGÓLNE */

body {
    font-family:'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-navigation {
    position: absolute;
    top: 5%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-50%, -50%);

    z-index: 50
}

.game-navigation .button {
    border-radius: 10px;
}

.game-navigation .button.selected::after {
    content: "";
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1.1em solid var(--zsp-blue);
    z-index: 10;
}

.game-navigation .button .workinprogress {
    color: orange;
    font-family: var(--maniek-font);
    font-size: 2rem;

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black,
                0 0 5px black,
                0 0 5px black;

    z-index: 101;

}

/* Strony gier */
.games-side, .maniek-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    border-radius: 0px;
    margin: 0;
    height: calc(100% - 2rem);
    position: relative;
    animation: popIn 0.25s;
    transition: transform 0.5s, width 0.25s;
}


.games-side {
    /* width: 60%; */
    background-color: var(--brown);
    border: 1rem solid var(--darkbrown);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.logoitarcza {
    transition: transform 0.5s;
}
.logoitarcza.hidden {
    display: block;
    transform: scale(0);
}



/* Kolory gier */
.games-side.logoitarcza {
    background-color: var(--brown);
    border-color: var(--darkbrown)
}

.games-side.flappymaniek {
    background-color: var(--lightgreen);
    border-color: var(--green);
}

/* Animacja zmiany gier */
.games-side section.flappymaniek {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
}

.games-side section.flappymaniek.hidden {
    display: block;
    transform: translate(-50%, -50%) scale(0);
}


.maniek-side {
    background-color: var(--blue);
    border: 1rem solid var(--darkblue);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /* width: 40%; */
}

.maniek-side img {
    max-width: 85%;
    max-height: 70%;
    width: auto;
    height: auto;
}

header {
    text-align: center;
}

#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    z-index: 10;
}

#game-canvas.hidden {
    display: none;
}

#game-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(194, 205, 255, 0.1);

}

#game-overlay.hidden {
    display: none;
}

/* KOMPATYBILNOŚĆ MOBILNA */

@media (max-width: 500px) {
    main {
        flex-direction: column;
    }

    .games-side:not(.wisielec), .maniek-side {
        width: calc(100% - 2rem);
        border-radius: 0px;
        height: 50%;
    }

    .games-side {
        border-top-right-radius: 2rem !important;
        border-top-left-radius: 2rem !important;
    }

    .maniek-side {
        z-index: 2;
        border-bottom-left-radius: 2rem !important;
        border-bottom-right-radius: 2rem !important;
    }

    .maniek-side {
        justify-content: end;
    }

    .score {
        top: 92%;
    }
    .score.maniek {
        top: 0%;
    }

    section.flappymaniek .screen {
        width: 75vw !important;
        height: 30vh !important;
    }

    section.wisielec {
        flex-direction: column-reverse !important;
        width: calc(100% - 2rem) !important;
        height: calc(100% - 8em) !important;
    }

    .pongtitle {
        flex-direction: row !important;
        left: 50% !important;
        top: -1rem !important;
    }
}

