/* OGÓLNE */

body {
    font-family:'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-navigation {
    position: absolute;
    top: 3em;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-50%, -50%);
    /* Button size: 4em */
    z-index: 50;
    transition: top 0.5s, left 0.5s, transform 0.5s, flex-direction 0.5s;
}

.game-navigation.topLeft {
    top: 50%;
    left: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

/* @keyframes navigateToTop {
    0% {
        top: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    100% {
        flex-direction: row;
        top: 3em;
        left: 50%;
    }
} */

.game-navigation .button {
    border-radius: 10px;
}

.button.selected:not(.navigation-container>.button)::after {
    content: "";
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1.1em solid var(--zsp-blue);
    z-index: 10;
}

.game-navigation .button .workinprogress {
    color: orange;
    font-family: var(--maniek-font);
    font-size: 2rem;

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black,
                0 0 5px black,
                0 0 5px black;

    z-index: 101;

}

/* Strony gier */
.games-side, .maniek-side {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    margin: 0;
    height: 100%;
    position: relative;
    animation: popIn 0.25s;
    transition: transform 0.5s, width 0.25s, border 0.25s, background-color 0.25s;
}

#both-sides {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    border-radius: 2rem;

    pointer-events: none;
    z-index: 11;
}
#both-sides > * {
    pointer-events: auto;
}
.games-side > *, .maniek-side > * {
    z-index: 2;
}


.games-side {
    /* width: 60%; */
    background-color: var(--brown);
    border: 1rem solid var(--darkbrown);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.logoitarcza {
    transition: transform 0.5s;
}
.logoitarcza.gameHidden {
    display: block;
    transform: scale(0);
}



/* Kolory gier */
.games-side.logoitarcza {
    background-color: var(--brown);
    border-color: var(--darkbrown)
}

.games-side.flappymaniek {
    background-color: var(--lightgreen);
    border-color: var(--green);
}

/* Animacja zmiany gier */
.games-side section.flappymaniek {
    position: absolute;
    transform: scale(1);
    transition: transform 0.5s;
}

.games-side section.flappymaniek.gameHidden {
    display: block;
    transform: scale(0);
}



.maniek-side {
    background-color: var(--blue);
    border: 1rem solid var(--darkblue);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    /* width: 40%; */
}

.maniek-side .maniek {
    max-width: 85%;
    max-height: 70%;
    width: auto;
    height: auto;
}

header {
    text-align: center;
}

#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    z-index: 10;
}

#game-canvas.hidden {
    display: none;
}


#game-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;

    /* border: 2rem solid var(--coolviolet); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: rgba(50,50,50, 0.5);
    backdrop-filter: blur(2px);

    text-align: center;
    z-index: 30;
    transition: backdrop-filter 0.25s, background-color 0.25s;
}

#game-overlay.hidden {
    backdrop-filter: blur(0px);
    z-index: -1;
    background-color: transparent;
    display: none;
}


#game-overlay > .paused, #game-overlay > .endedGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: popIn 0.25s;
}
#game-overlay > .paused > h1, #game-overlay > .endedGame > h1 {
    margin: 1rem;
    font-size: 5rem;
    font-family: var(--maniek-font);
    font-weight: 500;
    color: var(--coolviolet);
    text-shadow: 0 0 3px black,
            0 0 3px black,
            0 0 3px black,
            0 0 3px black,
            0 0 3px black,
            0 0 3px black,
            0 0 3px black;
}

.pause-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.pause-buttons > button {
    font-family: var(--zsp-font);
    padding: 1em 1.5em;

    text-align: center;
    font-weight: bolder;

    background-color: var(--coolviolet);
    border: 0.5em dashed var(--coolviolet-dark);
    font-size: 1rem;
    border-radius: 0.5em;

    cursor: pointer;
    transition: transform 0.1s;
}
.pause-buttons > .resetGame {
    background-color: var(--demonred);
    border-color: var(--demonred-dark);
    color: #eee;
}
.pause-buttons > .freeplay {
    background-color: var(--lightgreen);
    border-color: var(--green);
    color: #333;
}
.pause-buttons > button:hover {
    transform: scale(1.1);
}

/* Body changing colors whilst paused */
body:not(:has(#game-overlay.hidden)) {
    background-color: var(--coolviolet);
}










/* KOMPATYBILNOŚĆ MOBILNA */

@media (max-width: 500px) {
    main {
        flex-direction: column;
    }

    .games-side:not(.wisielec), .maniek-side {
        width: 100% !important;
        border-radius: 0px;
        height: 50%;
    }

    .games-side {
        border-top-right-radius: 2rem !important;
        border-top-left-radius: 2rem !important;
    }

    .maniek-side {
        z-index: 2;
        border-bottom-left-radius: 2rem !important;
        border-bottom-right-radius: 2rem !important;
    }

    .maniek-side {
        justify-content: end;
    }

    .score {
        top: 92%;
    }
    .score.maniek {
        top: 0%;
    }

    section.flappymaniek .screen {
        width: 75vw !important;
        height: 30vh !important;
    }

    section.wisielec {
        flex-direction: column-reverse !important;
        width: calc(100% - 2rem) !important;
        height: calc(100% - 8em) !important;
    }

    .pongtitle {
        flex-direction: row !important;
        left: 50% !important;
        top: -1rem !important;
    }
}

