.pongtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pongtitle > span {
    font-family: var(--maniek-font);
    font-size: 6rem;
    color: white;
    font-weight: 500;
}

h1.pong {
    font-family: var(--maniek-font);
    font-size: 12rem;
    color: white;
    font-weight: 500;
    margin: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rocket-timer {
    position: absolute;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.1);
    border: 0.25rem solid rgba(255,255,255,0.3);
    border-radius: 1rem;
    z-index: 10;
    bottom: 1rem;
}
.rocket-timer-left {
    left: 1rem;
}
.rocket-timer-right {
    right: 1rem;
    flex-direction: row-reverse;
}
.rocket-time {
    color: white;
    font-weight: bold;
    margin: 0;
}

.rocket-timer > img {
    height: 2rem;
    width: auto;
}

.pong.hidden {
    display: none;
}

@media (max-width: 500px) {
    .rocket-timer-right {
        left: 1rem;
        top: 1rem;
    }
}