main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    width: 80%;
    height: calc(100% - 2rem);;
    border: 1rem solid rgba(24, 71, 19, 1);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#bestscore-table {
    position: relative;
    font-family: var(--maniek-font);
    width: 20%;
    height: calc(100% - 2rem);
    background-color: var(--blue);
    border: 1rem solid var(--darkblue);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
